{% extends "index.html" %}
{% block content %}

<div class="row">
    <div class="col-xs-12">

	 {% if SERV|length > 0 %}
	 	<div class="error-container">
			<div class="well">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="icon-sitemap"></i>
						412
					</span>
					Host list is Empty !
				</h1>

				<hr />
				<h3 class="lighter smaller">There is no host machine added to list, Nothing to show...</h3>

				<div>
					<form class="form-search">
						<span class="input-icon align-middle">
							<i class="icon-search"></i>

							<input type="text" class="search-query" placeholder="Give it a search..." />
						</span>
						<button class="btn btn-sm" onclick="return false;">Go!</button>
					</form>

					<div class="space"></div>
					<h4 class="smaller">Try to check the operation:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="icon-hand-right blue"></i>
							Libvirt has started
						</li>
						<li>
							<i class="icon-hand-right blue"></i>
							Libvirt remote configuration is correct
						</li>
						<li>
							<i class="icon-hand-right blue"></i>
							Libvirt is configured to allow remote access
						</li>
						<li>
							<i class="icon-hand-right blue"></i>
							Libvirt has open firewall ports
						</li>
						<li>
							<i class="icon-hand-right blue"></i>
							Add at least one Host machine to show
						</li>
					</ul>
				</div>

				<hr />
				<div class="space"></div>

				<div class="center">
					<a href="#" class="btn btn-grey">
						<i class="icon-arrow-left"></i>
						Return
					</a>

					<a href="/" class="btn btn-primary">
						<i class="icon-dashboard"></i>
						Homepage
					</a>
					<a href="/addServer/">
						<botton class="btn btn-primary">
						<i class="icon-arrow-right icon-plus"></i>
								New host
						</botton>
					</a>
				</div>
			</div>
		</div>

	 {% else %}
        <div class="row">
            <div class="col-xs-12">

            	<botton class="btn btn-primary  pull-right" data-toggle="modal" data-target="#myModalInst">
				<i class="icon-arrow-right icon-plus"></i>
						Add Instance
				</botton>

                <h3 class="header smaller lighter blue">
                    <i class="icon-hand-right icon-animated-hand-pointer blue"></i> List of virtual machine instances
                </h3>

                <div class="table-header">
                    All virtual machine instances
                		<input  type="text" id="tabInput" placeholder="Filter for Host/Instance name, IP, status, CPU, Ram.." title="Type Host/Instance name">
                    <span>Search: </span>
                </div>

                <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover center">
                        <thead>
                            <tr>
                                <th class="center">
	                                <i class="icon-th" id="thAll" title="Show/Hide All"></i>
                                </th>
                                <th class="hidden-480 center">Virtual host</th>
                                <th  class="hidden-480 center">InstanceName</th>
                                <th class="hidden-480">CPU</th>

                                <th>
                                    <i class="icon-time bigger-110"></i> RAM(MB)
                                </th>
                                <th class="col-sm-1 left">RAM USAGE</th>
                                <th>
                                    <i class="icon-time bigger-110"></i> PURPOSE
                                </th>
                                <th class="hidden-480 center">
                  									<div class="col-sm-2">Status:</div>
                  									<div class="col-sm-9 center">
                  										<div class="col-sm-4"><span class="icon-play bigger-120 green left"></span><span class="green">&nbsp Running</span></div>
                  										<div class="col-sm-4"><span class="icon-pause bigger-120 orange left"></span><span class="orange">&nbsp Pause</span></div>
                  										<div class="col-sm-4"><span class="icon-stop bigger-120 red left"></span><span class="red">&nbsp Stop</span></div>
                  									</div>
                                </th>

                                <th class="center col-sm-3">Operating</th>
                            </tr>
                        </thead>

                        <tbody id="sample-table-in">
                            {% for ds in inStanceList %}
                        		{% ifchanged ds.hserver_ip %}
                            <!-- Host -->
							<tr class="thide">
								<td class="center">
                           					{% if ds.hstatus == 0 %}
									<i class="bigger-100 icon-minus"></i>
											{% else %}
									<span class="bigger-100 icon-off red"></span>
									<i class="hidden"></i>
											{% endif %}

								</td>
								<td>
									<span>{{ ds.hserver_ip }}</span>
								</td>
								<td>
									<span class="lbl"></span>
										<span>{{ ds.hostname }}</span>
								</td>
								<td>
									<span>{{ ds.hInfo.cpu_total }}</span>
								</td>
								<td>
									<span>{{ ds.hInfo.mem }}</span>
								</td>
                <td>
                  <div class="col-sm-15">
                    <div class="progress pos-rel progress-striped" data-percent="{{ ds.hInfo.mem_per }}%">
                      {% if ds.hInfo.mem_per > 90  %}
                      <div class="progress-bar progress-bar-danger" style="width:{{ ds.hInfo.mem_per }}%;"></div>
                      {% elif 70 < ds.hInfo.mem_per and ds.hInfo.mem_per < 90 %}
                      <div class="progress-bar progress-bar-warning " style="width:{{ ds.hInfo.mem_per }}%;"></div>
                      {% else %}
                      <div class="progress-bar progress-bar-success" style="width:{{ ds.hInfo.mem_per }}%;"></div>
                      {% endif %}
                    </div>
                </td>
								<td>PURPOSE</td>

								<td>
									<div class="col-sm-2">
										{% if ds.hstatus == 0 %}
										<span class="label label-success arrowed">
											Online
										</span>
										{% else %}
											<span class="label label-danger arrowed-in">
												Offline
											</span>
										{% endif %}
									</div>
									<div class="col-sm-9">
										<div class="col-sm-4"><span class="icon-play  bigger-120 green left">&nbsp {{ ds.hInfo.vmStatus.running|length }} </span></div>
										<div class="col-sm-4"><span class="icon-pause  bigger-120 orange left">&nbsp {{ ds.hInfo.vmStatus.pause|length }} </span></div>
										<div class="col-sm-4"><span class="icon-stop  bigger-120 red left">&nbsp {{ ds.hInfo.vmStatus.stop|length }} </span></div>
									</div>

								</td>

								<td>
									<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons" >
										<div class="btn-group" id="btn-ignore">
											<button data-toggle="dropdown" class="btn btn-inverse btn-sm dropdown-toggle">
												<i class="icon-pencil bigger-120"> </i>
												<span class="icon-caret-down icon-on-right"></span>
											</button>

											<ul class="dropdown-menu dropdown-info pull-right">


                           					{% if ds.hstatus == 0 %}
												<li>
													<a href="/addInstance/{{ ds.id }}">Add instance</a>
												</li>
												<li>
													<a href="/configNetwork/{{ ds.id }}/">Management network</a>
												</li>
												<li class="divider"></li>

												<li>
													<a href="/viewServer/{{ds.id}}/">Resource allocation</a>
												</li>
											{% endif %}
												<li>
													<a href="javascript:" onclick="onBtnHandleServer(this,{{ ds.id  }},'delete','{{ ds.hserver_ip }}')">Remove host</a>
												</li>
											</ul>
										</div>
									</div>
								</td>

							</tr>
								    {% endifchanged %}

                            <!-- Vhost -->
                            <tr class="thide2">

                                 <td class="hidden-480"></td>


                                <td>
                                    <a href="/viewServer/{{ds.server_id}}/">{{ ds.server_ip }}</a>
                                </td>
                                <td>
                                    <a href="/viewInstance/{{ds.server_id}}/{{ ds.name }}/">{{ ds.name }}</a>
                                </td>
                                <td class="hidden-480">{{ ds.cpu }}</td>
                                <td class="hidden-480">{{ ds.memo }}</td>
                                <td>
                                   <div class="col-sm-15">
                                    {% for ml in mem_list %}
                                    {% if ml.name = ds.name %}
                                      {% if ml.host = ds.hserver_ip %}
                                      <div class="progress pos-rel progress-striped" data-percent="{{ ml.mem_per }}%">
                                          {% if ml.mem_per > 90  %}
                                          <div class="progress-bar progress-bar-danger" style="width:{{ ml.mem_per }}%;"></div>
                                          {% elif 70 < ml.mem_per and ml.mem_per < 90 %}
                                          <div class="progress-bar progress-bar-warning " style="width:{{ ml.mem_per }}%;"></div>
                                          {% else %}
                                          <div class="progress-bar progress-bar-success" style="width:{{ ml.mem_per }}%;"></div>
                                          {% endif %}
                                      </div>
                                      {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>PURPOSE</td>
                               	<td class="center">
                               		<div class="col-sm-2">
                               			{% if ds.status == 1 %}   <i class="icon-play green" title="RUNNING"></i>
	                                    {% elif ds.status == 3 %} <i class="icon-pause orange" title="PAUSED"></i>
	                                    {% elif ds.status == 5 %} <i class="icon-stop red" title="STOPPED"></i>
	                                    {% elif ds.status == 7 %} <i class="icon-remove red" title="HOST UNREACHABLE"></i> {% endif %}
                               		</div>
                                </div>

                               	</td>

		                                <td class="center col-sm-3" height="35">

		                                    <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

		                                    {% if ds.token %}

		                                        {% if ds.vnc != '-1' %}
		                                        <a class="blue" title="VNC" href="/vnc/{{ ds.server_id }}/{{ ds.vnc }}/{{ ds.token }}/" target="_black">
											<i class="icon-desktop bigger-120"></i>
										</a> {% else %}
		                                        <a class="blue" title="VNC" href="#" target="_black">
											<i class="icon-desktop bigger-120"></i>
										</a> {% endif %}

		                                        <a class="blue" title="START" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','start')">
											<i class="icon-play bigger-120 green"></i>
										</a>

		                                        <a class="blue" title="SUSPEND" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','suspend')">
											<i class="icon-pause bigger-120 orange"></i>
										</a>

		                                        <a class="blue" title="RESUME" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','resume')">
											<i class="icon-play-circle bigger-120 "></i>
										</a>

		                                        <a class="blue" title="REBOOT" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','reboot')">
											<i class="icon-repeat bigger-120"></i>
										</a>

		                                        <a tclass="blue" title="SHUTDOWN" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','shutdown')">
											<i class="icon-stop bigger-120 red"></i>
										</a>

		                                        <a class="red" title="SHUTDOWN HALT" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id}},'{{ ds.name }}','halt')">
											<i class="icon-off bigger-120"></i>
										</a>

		                                        <a class="black" title="ADD SNAPSHOT" href="javascript:" onclick="snapshotInstance(this,{{ ds.server_id }},'{{ ds.name }}','add')">
											<i class="icon-camera bigger-120"></i>
										</a>
		                                        <a class="red" title="REMOVE VM" href="javascript:" onclick="onBtnHandleIns(this,{{ ds.server_id }},'{{ ds.name }}','delete')">
											<i class="icon-trash  bigger-120"></i>
										</a>
		                                        <a class="black" title="DETAILS" href="/viewInstance/{{ds.server_id}}/{{ ds.name }}/">
											<i class="icon-zoom-in  bigger-120"></i>
										</a>
		                                        <a class="black" title="ASSIGN USER" data-toggle="modal" data-target="#myModal">
											<i class="icon-external-link  bigger-120"></i>
										</a>

										 {% endif %}

		                                    </div>

                                </td>

                            </tr>


                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Modal Modal Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Virtual Machine Allocation
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="assignUser">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-4"><strong>Virtual Machine Selection</strong></label>
                                <div class="col-sm-9">
                                    <select name="name" data-placeholder="虚拟机">
								<option value="">Select virtual machine</option>
								{% for ds in inStanceList %}
								<option value="{{ds.name}}">{{ds.name}}</option>
								{% endfor %}
							</select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"><strong> User</strong> </label>
                                <div class="col-sm-9">
                                    <select name="username">
								{% for ds in userList %}
								<option value="{{ds.username}}">{{ds.username}}</option>
								{% endfor %}
							</select>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close
				</button>
                        <button type="button" class="btn btn-primary" onclick="assignVm(this,{{vmServer.id}},'assign')">
					confirm
				</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>


        <!-- Add Instance Modal -->
        <div class="modal" id="myModalInst" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Instance
                        </h4>
                    </div>
                    <div class="modal-body">
                    	<div class="list-group">
								{% for ds in inStanceList %}
			                        {% ifchanged ds.hserver_ip %}
			                        	{% if ds.hstatus == 0 %}

				                            <a href="/addInstance/{{ ds.id }}" class="list-group-item">
							                       	<span class="right" style="width: 100px">
								                       	<div class="progress pos-rel progress-striped" data-percent="{{ ds.hInfo.mem_per }}%">
															{% if ds.hInfo.mem_per > 90  %}
															<div class="progress-bar progress-bar-danger" style="width:{{ ds.hInfo.mem_per }}%;"></div>
															{% elif 70 < ds.hInfo.mem_per and ds.hInfo.mem_per < 90 %}
															<div class="progress-bar progress-bar-warning " style="width:{{ ds.hInfo.mem_per }}%;"></div>
															{% else %}
															<div class="progress-bar progress-bar-success" style="width:{{ ds.hInfo.mem_per }}%;"></div>
															{% endif %}
														</div>
							                       	</span>
												Add Instance to <span class="toolTip"><code><strong>{{ ds.hostname }}</strong></code>
													<span class="toolTipInfo">
														  <strong>CPU</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp :&nbsp{{ ds.cpu }}</br>
														  <strong>Memory</strong>&nbsp :&nbsp{{ ds.memo }}</br>
														  <strong>Server IP</strong> :&nbsp{{ ds.server_ip }}</br>
													</span>
												</span>
											</a>

											{% else %}
											<span class="list-group-item label-light">
						                       <span class="icon-off red right"></span>
												Instance Closed &nbsp<code><strong>{{ ds.hostname }}</strong></code>
											</span>

										{% endif %}
                        			{% endifchanged %}
                        		{% endfor %}
						</div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">close
				</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>




        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <!-- page specific plugin scripts -->

        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/jquery.dataTables.bootstrap.js"></script>

        <!-- ace scripts -->

        <!-- inline scripts related to this page -->

        <script type="text/javascript">
        	/*alert("a");*/
            jQuery(function($) {

            		/*$('.thide').hide();*/
            		$('.thide2').show();
            		$('.thide').click(function(){
            			$(this).on('click','#btn-ignore',function(e){
            				/*e.stopPropagation();*/
					        e.finish();
					    });

            			$(this).nextUntil(".thide").toggle();
            			$(this).find('i:first').toggleClass("icon-plus icon-minus");
            		});

            		$('#tabInput').on("keyup",function(){
            			if($(this).val()==''){
            				/*$('.thide2').hide();*/
            				$('.thide2').show();
            			}
            		});

            		$('#thAll').click(function(){
            			var clicks = $(this).data('clicks');
            			  if (clicks) {
						     // odd clicks
	            			$('.thide2').show();
	            			$('.thide').find('i:first').removeClass("icon-plus").addClass("icon-minus");
						  } else {
						     // even clicks
	            			$('.thide2').hide();
	            			$('.thide').find('i:first').removeClass("icon-minus").addClass("icon-plus");
						  }
						  $(this).data("clicks", !clicks);
            		});

            		$("#tabInput").on("keyup", function() {
						var value = $(this).val().toLowerCase();
					    $("#sample-table-in tr").filter(function() {
					      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					    });
					});


            		$('table th input:checkbox').on('click' , function(){
            			var that = this;
            			$(this).closest('table').find('tr > td:first-child input:checkbox')
            			.each(function(){
            				this.checked = that.checked;
            				$(this).closest('tr').toggleClass('selected');
            			});

            		});



            		$( "#input-size-slider-4" ).css('width','200px').slider({
            			value:1,
            			range: "min",
            			min: 1,
            			max: 8,
            			step: 1,
            			slide: function( event, ui ) {
            				var sizing = ['128', '512', '1024', '2048', '2048', '4096', '8192', '16384', '32768'];
            				var val = parseInt(ui.value);
            				$('#form-field-4').attr('class', sizing[val]).val(sizing[val]);
            			}
            		});

            		var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
					$('.easy-pie-chart.percentage').each(function(){
						$(this).easyPieChart({
							barColor: $(this).data('color'),
							trackColor: '#EEEEEE',
							scaleColor: false,
							lineCap: 'butt',
							lineWidth: 2,
							animate: oldie ? false : 1000,
							size:50
						}).css('color', $(this).data('color'));
					});

            		$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            		function tooltip_placement(context, source) {
            			var $source = $(source);
            			var $parent = $source.closest('table');
            			var off1 = $parent.offset();
            			var w1 = $parent.width();

            			var off2 = $source.offset();
            			var w2 = $source.width();

            			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
            			return 'left';
            		}
            	});

            	function snapshotInstance(obj,serverId,vmName,op){
            		var btnObj = $(obj);
            		btnObj.attr('disabled',true);
            		window.wxc.xcConfirm("please enter("+vmName+") Snapshot name:", window.wxc.xcConfirm.typeEnum.input,{
            			onOk:function(result){
            				if (result.length == 0){
            					/* Exit without input string */
            					return;
            				};
            				$.ajax({
            					type: 'POST',
            					/* url: '/handleSnapshot/', */
            					url: '/handleSnapshot/{{vmServer.id}}/',
            					data: {
            						"server_id":serverId,
            						"op":op,
            						'vm_name':vmName,
            						'snap_name':result
            					},
            					success:function(response){
            						btnObj.removeAttr('disabled');
            						if (response["code"]=="200"){
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
            							location.reload();
            						}
            						else{
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
            						}
            					},
            					error:function(response){
            						btnObj.removeAttr('disabled');
            						window.wxc.xcConfirm("Request data error!", window.wxc.xcConfirm.typeEnum.error);
            					},
            				});

            			}
            		});
            	}

            	function migrateInstance(obj,modalId,serverId,vmName) {
            		var btnObj = $(obj);
            		btnObj.attr('disabled',true);
            		var required = ['vm_tname','server_tid'];
            		var server_data = {};
            		var form = document.getElementById(modalId);
            		for (var i = 0; i < form.length; ++i) {
            			var name = form[i].name;
            			var value = form[i].value;
            			idx = $.inArray(name, required);
            			if (idx >= 0 && value.length == 0){
            				window.wxc.xcConfirm("Please note that required fields cannot be empty~", window.wxc.xcConfirm.typeEnum.error);
            				return false;
            			}
            			else if(  value.length != 0 && name.length != 0 ){
            				server_data[name] = value;
            			};
            		};
            		server_data['op'] = 'migrate';
            		server_data['server_id'] = serverId;
            		server_data['vm_name'] = vmName;
            		$.ajax({
            			dataType: "JSON",
            					url:'/handleInstance/', //Request address
            					type:"POST",  //Submit similar
            					data:server_data,  //Submit parameters
            					success:function(response){
            						btnObj.removeAttr('disabled');
            						if (response["code"] == 200){
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
            						}
            						else {
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
            						}

            					},
            					error:function(response){
            						btnObj.removeAttr('disabled');
            						window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
            					}
            				})
            	}

            	function onBtnHandleIns(obj, server_id,vm_name,op){
            		var btnObj = $(obj);
            		btnObj.attr('disabled',true);
            		if ( op == 'start'){
            			var txt=  "Do you confirm to start?"
            		}
            		else if ( op == 'shutdown'){
            			var txt=  "Do you confirm to closed?"
            		}
            		else if( op == 'resume' ){
            			var txt=  "Do you confirm recovery?"
            		}
            		else if( op == 'suspend' ){
            			var txt=  "Do you confirm the suspension?"
            		}
            		else if( op == 'halt' ){
            			var txt=  "Do you confirm to close?"
            		}
            		else if( op == 'delete' ){
            			var txt=  "Do you confirm to delete?"
            		}
            		else if( op == 'reboot' ){
            			var txt=  "Do you confirm the restart?"
            		};
            		var option = {
            			title: "Operation host("+vm_name+")",
            			btn: parseInt("0011",2),
            			onOk: function(){
            				$.ajax({
            					type: 'POST',
            					url: '/handleInstance/'+server_id+'/',
            					data:{
            						"server_id":server_id,
            						"op":op,
            						"vm_name":vm_name
            					},
            					success:function(response){
            						btnObj.removeAttr('disabled');
            						if (response["code"]=="200"){
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
            							window.location.reload();
            						}
            						else{
            							window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
								window.location.reload();
            						}
            					},
            					error:function(response){
            						btnObj.removeAttr('disabled');
            						window.wxc.xcConfirm("Operation failed", window.wxc.xcConfirm.typeEnum.error);
            					},
            				});
            			},
            			onCancel:function(){
            			},
            			onClose:function(){
            			}
            		}
            		window.wxc.xcConfirm(txt, "custom", option);
            	}
	            function onBtnHandleServer(obj,id,op,hostname){
					var btnObj = $(obj);
					btnObj.attr('disabled',true);
					if( op == 'delete' ){
						var txt=  "Are you sure to delete?"
					}
					var option = {
							title: "Delete the host("+hostname+")",
							btn: parseInt("0011",2),
							onOk: function(){
								$.ajax({
									  type: 'DELETE',
									  url: '/api/vmserver/'+ id +'/',
								      success:function(response){
								    	  	btnObj.removeAttr('disabled');
							                window.wxc.xcConfirm('successfully deleted', window.wxc.xcConfirm.typeEnum.success);
							                window.location.reload();
									},
						            error:function(response){
						            	btnObj.removeAttr('disabled');
						            	window.wxc.xcConfirm("failed to delete", window.wxc.xcConfirm.typeEnum.error);
						            },
									});
							},
							onCancel:function(){
							},
							onClose:function(){
							}
						}
					window.wxc.xcConfirm(txt, "custom", option);
				}

            	function assignVm(obj,server_id,op) {
            		var required = ['name','username'];
            		var btnObj = $(obj);
            		btnObj.attr('disabled',true);
            		var server_data = {};
            		var form = document.getElementById('assignUser');
            		for (var i = 0; i < form.length; ++i) {
            			var name = form[i].name;
            			var value = form[i].value;
            			idx = $.inArray(name, required);
            			if (idx >= 0 && value.length == 0){
            				window.wxc.xcConfirm("Please note that required fields cannot be empty~", window.wxc.xcConfirm.typeEnum.error);
            				btnObj.removeAttr('disabled');
            				return false;
            			}
            			else if(  value.length != 0 && name.length != 0 ){
            				server_data[name] = value;
            			};
            		};
            		server_data['op'] = op;
            		server_data['server'] = server_id;
            		$.ajax({
            			dataType: "JSON",
            				url:'/profile/', //Request address
            				type:"POST",  //Submit similar
            				data:server_data,  //Submit parameters
            				success:function(response){
            					btnObj.removeAttr('disabled');
            					if (response["code"] == 200){
            						window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.success);
            					}
            					else {
            						window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
            					}

            				},
            				error:function(response){
            					window.wxc.xcConfirm(response["msg"], window.wxc.xcConfirm.typeEnum.error);
            				}
            			})
            	}
        </script>
	 {% endif %}

    </div>
</div>


{% endblock %}
